<div class="row">
  <div class="col-md-6 col-md-push-3">
    <div class="account-form">
      <h1>Whoops! We couldn't find that page.</h1>
      <p>You may have mistyped the address or the page may have moved.</p>
      <p>Links that may help:</p>
      <ul>
        <li><a href="http://status.userbase.com">Service status</a></li>
        <li><a href="https://userbase.desk.com">Support center</a></li>
        <li><a href="">API</a></li>
      </ul>
      <p>Apologies for the trouble!</p>
      <div class="text-center">
        <a href="/" class="btn btn-primary" role="button">Back to Userbase</a>
      </div>
    </div>
  </div>
</div>
