<top-header></top-header>

<div class="row">
  <div id="sidebar" class="col-md-3">
    <div>
      <h5>General</h5>
      <ul class="nav nav-list">
        <li><a href="#/users"><i class="icon-users dark"></i> Users</a></li>
      </ul>
    </div>
  </div>

  <div id="main" class="col-md-9">
    <header>
      <h1 class="span3">Users</h1>
    </header>

    <div id="users">
      <table class="table table-hover" id="user_list">
        <thead>
          <tr>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.email}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
